*{
  margin: 0;
  padding: 0;
}
.App {
  background-color: mediumslateblue;
  min-height: 100vh;
  color: white;
}
.clock {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 90px;
}
